@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral50: #ffffff;
  --neutral100: #f8f9fb;
  --neutral200: #edeff5;
  --neutral300: #e8eaf1;
  --neutral400: #dfe0e7;
  --neutral500: #c3c4cd;
  --neutral600: #a3a6b7;
  --neutral700: #72747d;
  --neutral800: #3f4047;
  --neutral900: #2c2c30;
  --blue50: #eff8ff;
  --blue100: #b9ddff;
  --blue200: #8cc4ff;
  --blue300: #72aeff;
  --blue400: #5699ff;
  --blue500: #3684f3;
  --blue600: #0169cd;
  --blue700: #005dc5;
  --blue800: #004baf;
  --blue900: #003999;
  --orange50: #fff4ea;
  --orange100: #ffd6bd;
  --orange200: #ff996a;
  --orange300: #ff8356;
  --orange400: #ff6d42;
  --orange500: #e6572f;
  --orange600: #cd401b;
  --orange700: #b44405;
  --orange800: #9b2500;
  --orange900: #832f00;
  --red50: #ffece8;
  --red100: #ffcdc6;
  --red200: #ff988e;
  --red300: #ff8279;
  --red400: #ff6059;
  --red500: #ef4c49;
  --red600: #cd3e3f;
  --red700: #b4262d;
  --red800: #9b001c;
  --red900: #83000c;
  --yellowed50: #ffffe7;
  --yellowed100: #fffed7;
  --yellowed200: #fff7a6;
  --yellowed300: #ffeb76;
  --yellowed400: #fad759;
  --yellowed500: #e9af3d;
  --yellowed600: #ca8828;
  --yellowed700: #af6e26;
  --yellowed800: #895118;
  --yellowed900: #5f370e;
  --green50: #e8ffee;
  --green100: #cbffe0;
  --green200: #85ebae;
  --green300: #75d390;
  --green400: #57bd7a;
  --green500: #32a75a;
  --green600: #00944d;
  --green700: #006e39;
  --green800: #005929;
  --green900: #004618;
  --primary-subway-green: #008938;
  --primary-subway-yellow: #F2B700;
  --primary-subway-black: #000000;
  --primary-subway-white: #ffffff;
  --secondary-spinach-green: #00491E;
  --secondary-monterey-yellow: #F4E300;
  --secondary-tomato-red: #FF5C39;
  --secondary-pepper-green: #97D700;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Create a custom checkbox */
.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark-checkbox {
  background-color: #ccc;
}


.custom-select {
  position: relative;
  display: inline-block;
  color: #2C2C30;

}

.custom-select select {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--neutral400);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  background-color: var(--primary-subway-white);
}

.custom-select::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 6px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url('/imgs/arrow-down.png') no-repeat center center;
  background-size: contain;
  pointer-events: none;
}

.custom-select select.success {
  border: 1px solid #32A75A;
}

.success-msg {
  font-size: 12px;
  color: #32A75A;
  line-height: 18px;
}

.custom-select select.error {
  border: 1px solid #EF4C49;
}

.error-msg {
  font-size: 12px;
  color: #EF4C49;
  line-height: 18px;
}

.custom-select select.disabled {
  border: 1px solid #DFE0E7;
  background-color: #EDEFF5;
  color: #A3A6B7;
  cursor: not-allowed;

}

.bt-custom.primary {
  background: var(--primary-subway-green);
  color: var(--neutral50);
}

.bt-custom.secondary {
  background: var(--primary-subway-yellow);
  color: #FFFFFF;
}

.bt-custom.outline {
  background: var(--neutral50);
  color:var(--green600);
}

.bt-custom.disabled {
  background: var(--neutral500);
  color:var(--neutral50);
}

.price{
  color: var(--primary-subway-green);
}

.price-discount{
  color: var(--red600);
}

.price-non-discout{
  color: var(--neutral600);
}

.multiline-span {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.8;
}

.contaner-list-item{
  height: fit-content;
  gap: 14px;
  display: flex;
  flex-direction: column;
}

.contaner-list-item .list-item:not(:last-child){
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 14px;
}

.contaner-list-item .list-item:last-child{
  padding-bottom: 30px;
}

.card-item.isDisabled *{
  color: var(--neutral600) !important;

}
.card-item.isDisabled .badgeCustom{
  color: var(--neutral50) !important;
  background-color: var(--neutral600) !important;
}
.card-item.isDisabled .badgeCustom>span{
  color: var(--neutral50) !important;
}

.grid.grid-cols-2 div:nth-child(odd){
  justify-self: flex-start;
}
.grid.grid-cols-2 div:nth-child(even){
  justify-self: flex-end;
}

.contanier-box-item:first-child{
  padding-top: 25px;
}



.contanier-box-item .box-item-title{
  padding-bottom: 14px;
}
.contanier-box-item .box-item-list:not(:last-child){
  padding: 14px 0;
  border-bottom: 1px solid #E9E9E9;

}

.contanier-box-item .box-item-list:last-child{
  padding-bottom: 30px;
}
